<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
   <div class="container">
    <nav class="container navbar navbar-expand-lg navbar-light bg-white">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" style="color: #000;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                Русский
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
      </ul>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <li class="nav-item">
              <a class="nav-link" href="#"> <img src="./images/search.png" style="margin-top: -7px;" alt=""> Не нашли товар?</a>
            </li>
          <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link" href="./our_works.html" >Наши работы</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./blog.html">Статьи</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./test.html" >О нас</a>
            </li>
            <li class="nav-item-active">
              <a class="nav-link"  href="./contacts.html">Контакты</a>
            </li>
            </ul>
        </form>
      </div>
    </nav>
    <div class="container">
        <hr style="margin-top: 0px;">
    </div>
    <nav class="container navbar navbar-expand-lg navbar-light bg-white">
      <ul class="navbar-nav mr-auto">
          <a href="./index.html"><img src="./images/logo.png" style="width: 200px;height: auto;" alt=""></a>
          <button class="btn" style="background-color: #ffe600;margin: 7px 10px 3px 10px;font-size: 17px;padding: 10px;"> <img src="./box.png" style="margin-top: -2px;" alt=""> Каталог</button>
      </ul>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <input class="form-control" placeholder="Поиск" style="width: 505px;height: 48px;margin-top: 3px;" type="text"> <button class="btn" style="margin-left: -9%;"><img src="./search_icon.png" alt=""></button>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <img style="width: 40px; margin-left: -25%s;" src="./images/like.png" alt="">
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" style="color: #000;padding: 0px;">+998 71 250 77 77</a>
              <span style="color: red;float: right;padding: 0px;margin:0px;">заказать звонок</span>
            </li>
            </ul>
        </form>
      </div>
      <!-- end navbar -->
    </nav>
   </div>

   
<section class="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <img class="icon22" src="./images/icon1-removebg-preview.png" style="position: absolute;width: 80px;margin-top: 49%;transform: rotate(40deg);" alt="">
        </div>
        <div class="col-md-2">
          <img class="icon22" src="./images/icon2-removebg-preview.png" style="position: absolute;width: 80px;" alt="">
        </div>
        <div class="col-md-2">
          <img class="icon22" src="./images/icon1-removebg-preview.png" style="position: absolute;width: 80px;margin-top: 70%;" alt="">
        </div>
        <div class="col-md-2">
          <img class="icon22" src="./images/icon2-removebg-preview.png" style="position: absolute;width: 80px;margin-top: 70%;margin-left: 40%;" alt="">
        </div>
        <div class="col-md-2">
          <img class="icon22" src="./images/icon1-removebg-preview.png" style="position: absolute;width: 80px;margin-top: 8%;" alt="">
        </div>
        <div class="col-md-2">
          <img class="icon22" src="./images/icon2-removebg-preview.png" style="position: absolute;width: 80px;margin-top: 49%;transform: rotate(-50deg);" alt="">
        </div>
      </div>
        <h1  style="margin: auto;display: table;padding-top: 6%;font-size: 39px;">Контакты</h1>
        <p style="margin: auto;display: table;color: #000;padding: 10px;font-weight:500">Главная <span> > <a href="" style="color: #000;font-weight:500">Контакты</a></span></p>
    </div>
</section>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
   
                    <div class="sidebar-categories">
                      <ul id="accordion" class="accordion">
                        <li>
                          <div class="link"><i class="fa fa-database"></i>Web Design<i class="fa fa-chevron-down"></i></div>
                          <ul class="submenu">
                            <li><a href="#">Photoshop</a></li>
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>
                          </ul>
                        </li>
                        <li>
                          <div class="link"><i class="fa fa-code"></i>Coding<i class="fa fa-chevron-down"></i></div>
                          <ul class="submenu">
                            <li><a href="#">Javascript</a></li>
                            <li><a href="#">jQuery</a></li>
                            <li><a href="#">Ruby</a></li>
                          </ul>
                        </li>
                        <li>
                          <div class="link"><i class="fa fa-mobile"></i>Devices<i class="fa fa-chevron-down"></i></div>
                          <ul class="submenu">
                            <li><a href="#">Tablet</a></li>
                            <li><a href="#">Mobile</a></li>
                            <li><a href="#">Desktop</a></li>
                          </ul>
                        </li>
                        <li>
                          <div class="link"><i class="fa fa-globe"></i>Global<i class="fa fa-chevron-down"></i></div>
                          <ul class="submenu">
                            <li><a href="#">Google</a></li>
                            <li><a href="#">Bing</a></li>
                            <li><a href="#">Yahoo</a></li>
                          </ul>
                        </li>
                      </ul>
                      
                        <ul class="main-categories">
                            <li class="main-nav-list">
                                {% for categories in category %}
                                 <a {% if request.GET.category == categories.pk|stringformat:'i' %}class="a-active"{% endif %} onclick="addUrlParameter('category', '{{ categories.pk }}')" style="cursor:pointer">
                                    <span class="lnr lnr-arrow-right"></span>{{ categories.title }}<span
                                        class="number"></span></a>
                                {% endfor %}
                            </li>
                        </ul>
                        <br>
                    </div>
                </div>
        
                <div class="col-xl-9 col-lg-8 col-md-7">
                    <div id="message">
        
                    </div>
                   <!-- Start Filter Bar -->
                   <div class="filter-bar d-flex flex-wrap align-items-center m-auto">
                         <div class="sorting mr-auto">
        
                               <!-- <option value="1">{% trans 'Showing' %} {{ page_obj.start_index }}-{{ page_obj.end_index }} {% trans 'of' %} {{ page_obj.paginator.count }}</option> -->
        
        
                       </div>
                       <div class="sorting">
                           <select onchange="addUrlParameter('sort', this.value)">
                               <option value="default">Default</option>
                               <option {% if request.GET.sort == 'price' %}selected{% endif %} value="price">Low to high</option>
                               <option {% if request.GET.sort == '-price' %}selected{% endif %}  value="-price">High to low</option>
                           </select>
                       </div>
        
                   </div>
                   <!-- End Filter Bar -->
                   <!-- Start Best Seller -->
                   <section class="lattest-product-area pb-40 category-list">
                       <div class="row">
                
                           <div class="col-lg-4 col-md-6">
                            <div class="produdcs-section">
                                <img src="./images/stanok.png" style="margin: auto;display: table;" alt="">
                                <div class="product-title">
                                    <p style="margin-left: 10%;margin-bottom: 3px;">Буровая установка</p>
                                    <p style="margin-left: 10%;margin-top: 0px;font-size: 15px;">Артикул: US</p>
                                    <p style="margin-left: 10%;padding: 0px; padding-bottom: 10px;margin-top: -4%;">$3 800 - 24 731 675 сум</p>
                                </div>
                            </div>
                           </div>
                           <div class="col-lg-4 col-md-6">
                            <div class="produdcs-section">
                                <img src="./images/stanok.png" style="margin: auto;display: table;" alt="">
                                <div class="product-title">
                                    <p style="margin-left: 10%;margin-bottom: 3px;">Буровая установка</p>
                                    <p style="margin-left: 10%;margin-top: 0px;font-size: 15px;">Артикул: US</p>
                                    <p style="margin-left: 10%;padding: 0px; padding-bottom: 10px;margin-top: -4%;">$3 800 - 24 731 675 сум</p>
                                </div>
                            </div>
                           </div>
                           <div class="col-lg-4 col-md-6">
                            <div class="produdcs-section">
                                <img src="./images/stanok.png" style="margin: auto;display: table;" alt="">
                                <div class="product-title">
                                    <p style="margin-left: 10%;margin-bottom: 3px;">Буровая установка</p>
                                    <p style="margin-left: 10%;margin-top: 0px;font-size: 15px;">Артикул: US</p>
                                    <p style="margin-left: 10%;padding: 0px; padding-bottom: 10px;margin-top: -4%;">$3 800 - 24 731 675 сум</p>
                                </div>
                            </div>
                           </div>
                           
                           <div class="col-lg-4 col-md-6">
                            <div class="produdcs-section">
                                <img src="./images/stanok.png" style="margin: auto;display: table;" alt="">
                                <div class="product-title">
                                    <p style="margin-left: 10%;margin-bottom: 3px;">Буровая установка</p>
                                    <p style="margin-left: 10%;margin-top: 0px;font-size: 15px;">Артикул: US</p>
                                    <p style="margin-left: 10%;padding: 0px; padding-bottom: 10px;margin-top: -4%;">$3 800 - 24 731 675 сум</p>
                                </div>
                            </div>
                           </div>
                           <div class="col-lg-4 col-md-6">
                            <div class="produdcs-section">
                                <img src="./images/stanok.png" style="margin: auto;display: table;" alt="">
                                <div class="product-title">
                                    <p style="margin-left: 10%;margin-bottom: 3px;">Буровая установка</p>
                                    <p style="margin-left: 10%;margin-top: 0px;font-size: 15px;">Артикул: US</p>
                                    <p style="margin-left: 10%;padding: 0px; padding-bottom: 10px;margin-top: -4%;">$3 800 - 24 731 675 сум</p>
                                </div>
                            </div>
                           </div>
                           <div class="col-lg-4 col-md-6">
                            <div class="produdcs-section">
                                <img src="./images/stanok.png" style="margin: auto;display: table;" alt="">
                                <div class="product-title">
                                    <p style="margin-left: 10%;margin-bottom: 3px;">Буровая установка</p>
                                    <p style="margin-left: 10%;margin-top: 0px;font-size: 15px;">Артикул: US</p>
                                    <p style="margin-left: 10%;padding: 0px; padding-bottom: 10px;margin-top: -4%;">$3 800 - 24 731 675 сум</p>
                                </div>
                            </div>
                           </div>
                           <div class="col-lg-4 col-md-6">
                            <div class="produdcs-section">
                                <img src="./images/stanok.png" style="margin: auto;display: table;" alt="">
                                <div class="product-title">
                                    <p style="margin-left: 10%;margin-bottom: 3px;">Буровая установка</p>
                                    <p style="margin-left: 10%;margin-top: 0px;font-size: 15px;">Артикул: US</p>
                                    <p style="margin-left: 10%;padding: 0px; padding-bottom: 10px;margin-top: -4%;">$3 800 - 24 731 675 сум</p>
                                </div>
                            </div>
                           </div>
                           <div class="col-lg-4 col-md-6">
                            <div class="produdcs-section">
                                <img src="./images/stanok.png" style="margin: auto;display: table;" alt="">
                                <div class="product-title">
                                    <p style="margin-left: 10%;margin-bottom: 3px;">Буровая установка</p>
                                    <p style="margin-left: 10%;margin-top: 0px;font-size: 15px;">Артикул: US</p>
                                    <p style="margin-left: 10%;padding: 0px; padding-bottom: 10px;margin-top: -4%;">$3 800 - 24 731 675 сум</p>
                                </div>
                            </div>
                           </div>
                           <div class="col-lg-4 col-md-6">
                            <div class="produdcs-section">
                                <img src="./images/stanok.png" style="margin: auto;display: table;" alt="">
                                <div class="product-title">
                                    <p style="margin-left: 10%;margin-bottom: 3px;">Буровая установка</p>
                                    <p style="margin-left: 10%;margin-top: 0px;font-size: 15px;">Артикул: US</p>
                                    <p style="margin-left: 10%;padding: 0px; padding-bottom: 10px;margin-top: -4%;">$3 800 - 24 731 675 сум</p>
                                </div>
                            </div>
                           </div>
                           
                           <div class="col-lg-4 col-md-6">
                            <div class="produdcs-section">
                                <img src="./images/stanok.png" style="margin: auto;display: table;" alt="">
                                <div class="product-title">
                                    <p style="margin-left: 10%;margin-bottom: 3px;">Буровая установка</p>
                                    <p style="margin-left: 10%;margin-top: 0px;font-size: 15px;">Артикул: US</p>
                                    <p style="margin-left: 10%;padding: 0px; padding-bottom: 10px;margin-top: -4%;">$3 800 - 24 731 675 сум</p>
                                </div>
                            </div>
                           </div>
                           <div class="col-lg-4 col-md-6">
                            <div class="produdcs-section">
                                <img src="./images/stanok.png" style="margin: auto;display: table;" alt="">
                                <div class="product-title">
                                    <p style="margin-left: 10%;margin-bottom: 3px;">Буровая установка</p>
                                    <p style="margin-left: 10%;margin-top: 0px;font-size: 15px;">Артикул: US</p>
                                    <p style="margin-left: 10%;padding: 0px; padding-bottom: 10px;margin-top: -4%;">$3 800 - 24 731 675 сум</p>
                                </div>
                            </div>
                           </div>
                           <div class="col-lg-4 col-md-6">
                            <div class="produdcs-section">
                                <img src="./images/stanok.png" style="margin: auto;display: table;" alt="">
                                <div class="product-title">
                                    <p style="margin-left: 10%;margin-bottom: 3px;">Буровая установка</p>
                                    <p style="margin-left: 10%;margin-top: 0px;font-size: 15px;">Артикул: US</p>
                                    <p style="margin-left: 10%;padding: 0px; padding-bottom: 10px;margin-top: -4%;">$3 800 - 24 731 675 сум</p>
                                </div>
                            </div>
                           </div>
                       </div>
                   </section>
                   <!-- End Best Seller -->
                   <!-- Start Filter Bar -->
                   <div class="filter-bar d-flex flex-wrap align-items-center">
                       <!-- <div class="sorting mr-auto">
                           <select>
                               <option value="1">Show 12</option>
                               <option value="1">Show 12</option>
                               <option value="1">Show 12</option>
                           </select>
                       </div> -->
                       <div class="pagination m-auto">
        <!--                    <a href="#" class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>-->
                           <!-- {% for page in page_obj.paginator.page_range %}
                               <a {% if page == page_obj.number %}class="active"{% endif %} onclick="addUrlParameter('page', '{{ page }}')" style="cursor:pointer">{{ page }}</a>
                           {% endfor %} -->
        <!--                    <a href="#" class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>-->
                       </div>
                   </div>
                   <!-- End Filter Bar -->
               </div>
        
    </div>
</div>


        <br>
        <br>
        
        <footer class="site-footer mt-2">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-4">
                <h6>About</h6>
                <p class="text-justify">Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative  to help the upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or snippets as the code wants to be simple. We will help programmers build up concepts in different programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.</p>
              </div>
        
              <div class="col-xs-6 col-md-4">
                <h6>Categories</h6>
                <ul class="footer-links">
                  <li><a href="http://scanfcode.com/category/c-language/">C</a></li>
                  <li><a href="http://scanfcode.com/category/front-end-development/">UI Design</a></li>
                  <li><a href="http://scanfcode.com/category/back-end-development/">PHP</a></li>
                  <li><a href="http://scanfcode.com/category/java-programming-language/">Java</a></li>
                  <li><a href="http://scanfcode.com/category/android/">Android</a></li>
                  <li><a href="http://scanfcode.com/category/templates/">Templates</a></li>
                </ul>
              </div>
        
              <div class="col-xs-6 col-md-4">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                  <li><a href="http://scanfcode.com/about/">About Us</a></li>
                  <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
                  <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
                  <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
                  <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
                </ul>
              </div>
            </div>
            <hr>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
             <a href="#">Scanfcode</a>.
                </p>
              </div>
        
              <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                  <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                  <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
                </ul>
              </div>
            </div>
          </div>
        </footer>
        
        </body>
        
        
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
        <script>
          console.clear();
        </script>
        <script>
                  $(function() {
          var Accordion = function(el, multiple) {
            this.el = el || {};
            this.multiple = multiple || false;

            // Variables privadas
            var links = this.el.find('.link');
            // Evento
            links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
          }

          Accordion.prototype.dropdown = function(e) {
            var $el = e.data.el;
              $this = $(this),
              $next = $this.next();

            $next.slideToggle();
            $this.parent().toggleClass('open');

            if (!e.data.multiple) {
              $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
            };
          }	

          var accordion = new Accordion($('#accordion'), false);
        });
        </script>
        </html>
        