* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'TT Norms';
}

body {
  background-color: #fff;
  font-family: 'TT Norms';
}

ul, li {
  list-style-type: none;
}

.nav-link {
  color: blue;
}

p {
  color: #000;
}


/* navbar */
.navbar-nav .nav-item .nav-link {
  font-weight: 500;
  margin: 7px;
  padding: 10px;
  color: #000;
}

.navbar-nav .nav-item-active .nav-link {
  font-weight: 500;
  margin: 7px;
  padding: 10px;
  color: #FFE700;
}


.nav-link-2 {
  display: block;
  padding: 0.5rem 1rem;
  color: #132E6B;
  font-size: 16px;
}

.nav-item-active a {
  color: #FFE700;
}


/* wishlist */
.nav-item-like {
  margin-top: 8.47%;
  margin-left: -5%;
}


.like_radius {
  position: absolute;
  width: 19px;
  height: 18px;
  background: #FF0007;
  border-radius: 50%;
  padding: 5px;
  z-index: 99;
  margin-left: -1%;
  margin-top: -.9%;
}

.like_count {
  position: absolute;
  z-index: 999;
  font-weight: 100;
  margin-top: -20%;
  color: #fff;

}

/* end wishlist */

/* phone */

/* end phone */
.phone_link {
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  padding-left: 25px;
  color: #000;
  margin: 0px;
}

.call {
  color: red;
  float: right;
  padding: 0px;
  margin: 4px 0px 0px 0px;
}

/*  end navbar  */
.banner {
  background-color: #FFE700;
  width: 100%;
  height: 250px;
}

.blok {
  margin: 30px;
}

.slider-navigation {
  display: table;
  color: yellow;
  margin: auto;
  bottom: 185px;
}

.slide-burger {
  background: url(./images/background.svg);
  height: 100%;

}

.slider-controls {
  width: 100%;
  position: absolute;
  top: 50%;
  z-index: 9;
  -webkit-transform: translate3d(0px, -50%, 0px);
  transform: translate3d(0px, -50%, 0px);
  z-index: 0;
}

.title {
  font-size: 33px;
  text-align: left;
  margin-left: 19%;
  font-style: normal;
  font-weight: bold;
  line-height: 51px;
  color: #131311;
}

.title2 {
  position: absolute;
  font-size: 20px;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  margin-left: 7.5%;
  padding: 20px;
  line-height: 20px;
  color: #131311;
}

.title3 {
  font-size: 16px;
  float: left;
  width: 196px;
  height: 57px;
  background: #FFE700;
  border-radius: 6px;
  margin-left: 20%;
  font-style: normal;
  font-weight: 500;
  color: #131311;
  margin-top: 34%;
}



.slider-navigation>li>a.is-active {
  background: #FFE700;
}


/* main menu */

.minimalist-vertical-menu2 {
  border-top: 0;
  margin: 0 20px 20px;
  display: inline-flex;
}

.minimalist-tab-menu2 {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  width: 260px;
  background-color: #fff;
  box-shadow: 0px 6px 20px rgba(169, 169, 170, 0.1);
}

.minimalist-tab-menu2 .list-group2 {
  margin-bottom: 0;
}

.btn:active {
  background-color: red;
}

.minimalist-tab-menu2 .list-group2>li {
  height: 46.5px;
  margin-bottom: 0;
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
  padding: 0 20px;
  text-align: left;
  color: #454a4e;
  background: transparent;
  display: block;
  line-height: 46.5px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.minimalist-tab-menu2 .list-group2>li:last-child2 {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: red;
}

.minimalist-tab-menu2 .list-group2>li>img {
  color: #f36920;
  line-height: 48px;
  text-align: left;
  width: 21px;
  max-height: 27px;
  margin-right: 15px;
  margin-top: -9px;
  transition: all 0.5s ease-in-out;
}

.minimalist-tab-menu2 .list-group2 li.active {
  background-color: #FFE700;
  background-image: #494894;
  color: #ffffff;
}

.minimalist-tab-menu2 .list-group2 li.active i {
  color: white;
}

.minimalist-tab-menu2 .list-group2>.has-child2:after {
  content: " ";
  padding-left: 1em;
  font-family: "FontAwesome";
  font-size: 12px;
  color: #A9A9AA;
  float: right;
}

.minimalist-tab2 {
  position: relative;
  background: none;
  width: 1030px;
}

.minimalist-tab-content2 {
  background-color: transparent;
  padding: 0 25px;
  padding-right: 0;
  height: 384px;
  display: inline-block;
  border-radius: 10px;
  z-index: 1;
  position: absolute;
  top: 0;
  left: -200px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}

.minimalist-tab-content2.active {
  display: block;
  left: 0;
  opacity: 1;
  visibility: visible;
}

.has-promotion2 {
  border-right: 1px solid rgba(7, 6, 7, 0.16);
}

.dropdown-item2 {
  display: block;
  font-weight: 400;
  color: #212529;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 7px;
  transition: 0.3s;
  margin: 0px 10px 15px 0px;
  clear: none;
  float: left;
  width: 234px;
  line-height: 16px;
  text-align: left;
  white-space: initial;
  text-transform: capitalize;
}

.dropdown-item2:hover {
  border-color: #FFE700;
  background-color: #FFE700;
  color: #fff;
}

.dropdown-item2 a {
  padding: 5px 8px 5px 60px;
  color: #253847;
  font-size: 0.9em;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  height: 38px;
}

.dropdown-item2 a img {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 15px;
}

.menu-dropdown2 {
  padding: 25px 0;
  float: left;
  height: 100%;
  background-color: #FFF;
  display: grid;
  grid-auto-flow: column;
  z-index: 9999;
  grid-template-rows: repeat(6, 1fr);
}

.promotion2 {
  padding: 40px 40px 20px;
  text-align: left;
  float: left;
  width: 254px;
}

.promotion2 .title22 {
  font-size: 16px;
  color: #000;
  font-weight: 600;
  display: inline-block;
}

.promotion2 a .box-img {
  margin: 5px 0px;
}

.promotion2 a .price {
  color: #f36920;
  font-weight: 700;
}

.promotion2 a .price .promotional {
  font-size: 0.8em;
  text-decoration: line-through;
  color: #bdbfc1;
  margin-left: 15px;
}

.promotion2 a .description2 {
  color: #253847;
  font-size: 1em;
  font-weight: 500;
  text-transform: capitalize;
}

.promotion2 a .description2 .content2 {
  color: #cccccc;
}

/* end */


.back_elements {
  background: url(./images/backgorund-shadow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  width: 70%;
  height: 479px;
  margin-top: -10%;
}

.shadow {
  position: absolute;
  width: 350px;
  background: #fff;
  height: 82px;
  top: 377px;
  opacity: 0.8;
  border-radius: 0px 0px 6px 6px;
}

.shadow_text {
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
  position: absolute;
  margin: 20px;
}

.shadow_hr {
  width: 4px;
  position: absolute;
  background: #FFE700;
  border-radius: 6px;
  height: 82px;
  top: -16px;
}

.shadow2 {
  position: absolute;
  width: 350px;
  background: #fff;
  height: 82px;
  top: 139px;
  opacity: 0.8;
  border-radius: 0px 0px 6px 6px;
}


/* menu */
#menu {
  height: 50px;
  width: 167px;
  overflow: hidden;
  margin: 20px auto;
  text-align: center;

}

#menu ul li {
  float: left;
  margin: 0 5px;
  list-style-type: none;

}

/* Menu Link Styles */
#menu ul a {
  display: block;
  background: #FFE700;
  color: #fff;
  height: 100px;
  width: 167px;
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
  transition: all .35s ease-in-out;

}

/* Secondary Link Styles */
#menu ul a:nth-of-type(even) {
  text-shadow: 0 0 6px #fff;
  background: #FF0007;
  color: white;
  padding-top: -3px;

}

/* Hover Slide */
#menu ul li:hover :first-child {
  margin-top: -100px;

}

/* menu */
/* Style the tab */
.tab {
  float: left;
  box-shadow: 0 0.2rem 0.4rem rgb(0 0 0 / 15%) !important;
  background-color: #fff;
  border-radius: 15px;
  width: 100%;
  height: auto;
  font-size: 20px;
  font-weight: 500;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 19px 16px;
  width: 100%;
  font-weight: 500;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  border-radius: 3px;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}

/* .btn_asd { */
/* background: url("./icon2-removebg-preview.png") no-repeat fixed ; */
/* } */

.tab2 a {
  margin-left: 1%;
  color: black;
  width: 100%;
  padding: 10px;
  font-weight: 500;
  border: none;
  outline: none;
  text-decoration: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  border-radius: 3px;
}


.tab2 a.active {
  border-bottom: 4px solid red;
}

.card {
  display: inline-block;
  background: white;

  margin: 0px 0px 24px 0px;
  border-radius: 0px;
  box-shadow: 0px 2px 10px -4px black;
}

.imagewrap {
  display: inline-block;
  position: relative;
  padding: 10px 20px 4px 9px;
}

.thumbnail {
  width: 320px;
  height: 256px;
  overflow: hidden;
}

.thumbnail img {
  opacity: 1;
  width: 320px;
  height: 250px;
  transition: all 500ms;
}

.imagewrap:hover img {
  opacity: 0.5;
}

.button1 {
  position: absolute;
  top: 40%;

}

.ig-btn {
  opacity: 0;
  background-color: #FFE700;
  right: 34%;
  border: none;
  border-radius: 10px;
  min-height: 45px;
  width: 125px;
  color: white;
  transition: all 500ms;
  text-transform: uppercase;
  font-size: 9px;
}

.ig-btn:hover {
  background-color: red;
}

.imagewrap:hover .ig-btn {
  opacity: 1;
}

.info {
  color: #aaa;
  padding: 0px 20px 0px 20px;
}


.search_icon {
  width: 19px;
  height: 19px;
  color: #000;
  margin-top: 19px;
  margin-left: -37px;
  font-size: 16px;
  align-items: left;
  vertical-align: top;
}


.nav-item .like_icon {
  margin-top: 15%;
}

.like_icon {
  margin-left: -96%;
}

/* not found products */
.not-found {
  width: 16px;
  height: 16px;
  left: 0%;
  right: 0%;
  color: #132E6B;
}

/*  end not found products */



/* logo image */

.logo_image {
  width: 215px;
  height: 49px;
}

/* logo image end */
ƒ

/* pagination */
/* pagination end */
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
  color: blue;
}



/* navbar megamenu */

nav-drop-menu {
  position: absolute;
  top: 15px;
  left: 45px;
  height: 45px;
  width: 200px;
  text-align: center;
  background: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: left 0.4s ease;
}

/* .btn.click{
  /* left: 260px;
} */

.fa-table-cells-large:before, .fa-th-large:before {
  width: 20px;
}

.btn1 span {
  color: #131311;
  cursor: pointer;
  margin-top: 3px;
  font-size: 28px;
  line-height: 45px;
  background-color: #FFE700;
  padding: 5px;
  border-radius: 7px;
  box-shadow: none;
}

/* .btn1.click span:before{
  content: '\f00d';
} */
.sidebar {
  position: fixed;
  z-index: 9999;
  width: 278px;
  margin-top: 4.6%;
  height: 53%;
  left: -350px;
  background: #fff;
  transition: left 0.4s ease;
  box-shadow: 3px 3px 3px 3px yellow;
}

.sidebar.show {
  left: 328px;
}

.sidebar .text {
  color: red;
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  background: #1e1e1e;
  letter-spacing: 1px;
}

nav .nav-ul {
  background: #fff;
  height: 100%;
  width: 100%;
  list-style: none;
}

nav .nav-ul li {
  line-height: 60px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

nav .nav-ul li:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

nav .nav-ul li a {
  position: relative;
  color: red;
  text-decoration: none;
  font-size: 18px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}

nav .nav-ul li.active a {
  color: cyan;
  background: #1e1e1e;
  border-left-color: cyan;
}

nav .nav-ul li a:hover {
  background: #1e1e1e;
}

nav .nav-ul ul {
  position: static;
  display: none;
}

nav .nav-ul .feat-show.show {
  display: block;
}

nav .nav-ul .serv-show.show1 {
  display: block;
}

nav .nav-ul ul li {
  line-height: 42px;
  border-top: none;
}

nav .nav-ul ul li a {
  font-size: 17px;
  color: #e6e6e6;
  padding-left: 80px;
}

nav .nav-ul li.active .nav-ul li a {
  color: #e6e6e6;
  background: #1b1b1b;
  border-left-color: transparent;
}

nav ul ul li a:hover {
  color: #fff;
  background: #FFE700
}

nav ul li a span {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
}

nav .nav-ul li a span.rotate {
  transform: translateY(-50%) rotate(-180deg);
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #202020;
  z-index: -1;
  text-align: center;
}

.content .header {
  font-size: 45px;
  font-weight: 600;
}

.content p {
  font-size: 30px;
  font-weight: 500;
}

/* end navbar */

/* Style the tab content */
.tabcontent {
  float: right;
  margin-left: 1%;
  padding: 20px 32px;
  width: 100%;
  border-left: none;
  height: auto;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important
}

#Paris {
  float: right;
  margin-left: 1%;
  padding: 20px 32px;
  width: 100%;
  border-left: none;
  height: auto;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important
}

#Tokyo {
  float: right;
  margin-left: 1%;
  padding: 20px 32px;
  width: 100%;
  border-left: none;
  height: auto;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important
}

.single-blog {
  float: right;
  margin-left: 1%;
  padding: 20px 32px;
  width: 100%;
  margin-top: 20px;
  border-left: none;
  height: auto;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important
}



.hr-left {
  width: 2px;
  height: 50px;
  border: 1px solid #FFE700;
  background: #FFE700;
  margin: 5px;
}

.tabcontent2 {
  margin-left: 1%;
  width: 100%;
  border-left: none;
  height: auto;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important
}

.video {
  float: right;
  margin-left: 1%;
  padding: 20px 32px;
  width: 100%;
  margin-top: 20px;
  border-left: none;
  height: auto;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important
}

.form {
  margin-left: 1%;
  padding: 20px 32px;
  width: 100%;
  margin-top: 20px;
  border-left: none;
  height: auto;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important
}

.blog {
  display: initial;
  position: absolute;
  z-index: 4;
  margin: auto -38px;
  padding: 20px 32px;
  width: 52%;
  margin-top: 20px;
  border-left: none;
  height: auto;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important
}

.produdcs-section {
  width: 100%;
  margin-top: 20px;
  border-left: none;
  height: 400px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important
}

.filter {
  padding: 20px 32px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 40px;
  border-left: none;
  height: auto;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important
}

.contacts {
  margin: auto;
  width: 100%;
  margin-top: 20px;
  border-left: none;
  height: auto;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important
}

.single-image {
  padding: 0px;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-left: none;
  height: auto;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0.1rem 0.6rem rgb(0 0 0 / 15%) !important
}


.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle {
  color: #212529;
  background-color: #FFE700;
  border-color: #FFE700;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-top: 4%;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  float: right;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}


.btn-like {
  color: #000;
  background: #f0c543;
  top: 0px;
  position: absolute;
  margin-top: 5%;
  margin-left: -10.7%;
  font-size: 20px;
}

.dropdown-menu {
  float: left;
  position: absolute;
  padding: 10px;
  transform: translate3d(0px, 38px, 0px);
  top: 0px;
  width: 100%;
  left: 0px;
  will-change: transform;
}

.dropdown-menu .active {

  position: absolute;
  transform: translate3d(0px, 38px, 0px);
  top: 0px;
  width: 100%;
  left: 0px;
  will-change: transform;
}

.hr-center {
  border: 2px solid #FFE700;
  margin: auto;
  display: table;
  width: 80px;
}

.icon22 {
  opacity: .3;
}

.date {
  background-color: #000;
  width: 80px;
  color: #fff;
  float: right;
  margin-top: -5%;
  border-radius: 15px;
}

.yellow-box {
  background-color: #FFE700;
  padding: 20px;
  width: 80px;
  height: 240px;
  float: left;
  position: relative;
  z-index: 2;
  margin-top: 6%;
  border-radius: 5px;
}

.site-footer {
  background-color: #000;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
  top: 0px;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5
}

.site-footer hr.small {
  margin: 20px 0
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none
}

.footer-links li {
  display: block
}

.footer-links a {
  color: #737373
}

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block
}

.site-footer .social-icons {
  text-align: right
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d
}

.copyright-text {
  margin: 0
}

@media (max-width:991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px
  }
}

@media (max-width:767px) {
  .site-footer {
    padding-bottom: 0
  }

  .site-footer .copyright-text, .site-footer .social-icons {
    text-align: center
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
  color: #fff;
  background-color: #29aafe
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px
}

.social-icons a.facebook:hover {
  background-color: #3b5998
}

.social-icons a.twitter:hover {
  background-color: #00aced
}

.social-icons a.linkedin:hover {
  background-color: #007bb6
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89
}

@media (max-width:767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600
  }
}


.hid-box {
  top: 90%;
  position: relative;
  transition: all .3s ease-out;
  background: #428bca;
  height: 100%;
}

.btn:hover>.btn.hid-box {
  top: 10px;
}

/* parallax and more */

.dark-overlay {
  background: rgba(0, 0, 0, 0.4);
  height: auto;
  margin-top: -15px;
}

.parallax {
  /* The image used */
  background-image: url("./images/all.jpg");

  /* Set a specific height */
  min-height: 400px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dark-text {
  color: #fff;
  padding: 10px;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
}

.dark-desc {
  color: #fff;
  margin: 10px 0px 30px 0px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.dark-number {
  font-size: 36px;
  color: #FFE700;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  line-height: 42px;
}

.number-desc {
  font-size: 18px;
  color: #CCCCCA;
  text-align: center;
  font-weight: 500;
  line-height: 21px;
}

/* end parallax and more */

.box {
  width: 248px;
  margin: 9px;
  height: 240px;
  background-color: #fff;
  border: none;
  box-shadow: 0px 6px 20px rgba(169, 169, 170, 0.1);
  border-radius: 6px;
  padding: 16px;
  transition: .1s all;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.box:hover {
  background-color: #ffe600;
  transition: .1s all;
}

.product-box {
  width: 100%;
  height: 390px;
  background-color: red;
}

.box-description {
  width: 90%;
  height: 120px;
  background-color: #ededed;
  position: absolute;
  bottom: 0px;
}

/* flip product */

.flex-item {
  color: #fff;
  height: 210px;
  margin: 10px 0;
  padding: 0;
  width: 100%;
  position: relative;
}

.flex-item-inner {
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 210px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.flex-item-inner a {
  color: #fff;
  cursor: pointer;
}

/*-------- cards --------*/
.card-front {
  padding: 10px;
  width: 100%;
}

.card-back {
  padding: 5px;

}

.card-text {
  margin-top: 15%;
}

.card-front,
.card-back {
  position: absolute;
  border-radius: 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;

  margin: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.7s;
  transition: transform 0.5s;
  justify-content: flex-end;
}

.card-front i.tile-icon {
  display: block;
  margin: 10px auto 20px auto;
  text-align: center;
}

.card-front h4 {
  font-size: 18px;
  font-weight: normal;
  margin: 10px 0;
  color: #000;
}

.card-front p.detail {
  font-size: 15px;
  font-weight: 430;
  margin: 0;
  color: #000;
}

.card-front.bg-violet {
  background-color: #fff;
}

.card-front.bg-magenta {
  background-color: #c110a0;
}

.card-front.bg-blue {
  background-color: #00a0d2;
}

.card-front.bg-green {
  background-color: #00c389;
}

.card-back {
  background-color: #1e1e1e;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.card-back p.title {
  color: #000;
  text-align: center;
  margin-bottom: 1px;
}

.card-back p.desc {
  color: #63666a;
  text-align: center;
}

.card-back p.link {
  color: #702082;
}

.card-back.bg-violet {
  background-color: #fff;
}

.card-back.bg-magenta {
  background-color: #ddd0cf;
}

.card-back.bg-blue {
  background-color: #c8d7df;
}

.card-back.bg-green {
  background-color: #d9e6dc;
}

/*-------- cards / flip effect --------*/
.flex-item:hover .card-front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.flex-item:hover .card-back {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}

/* end flip products */

footer .main-footer {
  padding: 20px 0;
  background: #888;
}

footer ul {
  padding-left: 0;
  list-style: none;
}

/* Copy Right Footer */
.footer-copyright {
  background: #222;
  padding: 5px 0;
}

.footer-copyright .logo {
  display: inherit;
}

.footer-copyright nav {
  float: right;
  margin-top: 5px;
}

.footer-copyright nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-copyright nav ul li {
  border-left: 1px solid #505050;
  display: inline-block;
  line-height: 12px;
  margin: 0;
  padding: 0 8px;
}

.footer-copyright nav ul li a {
  color: #969696;
}

.footer-copyright nav ul li:first-child {
  border: medium none;
  padding-left: 0;
}

.footer-copyright p {
  color: #969696;
  margin: 2px 0 0;
}

/* Footer Top */
.footer-top {
  background: #252525;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 3px solid #222;
}

/* Footer transparent */
footer.transparent .footer-top, footer.transparent .main-footer {
  background: transparent;
}

footer.transparent .footer-copyright {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}

/* Footer light */
footer.light .footer-top {
  background: #f9f9f9;
}

footer.light .main-footer {
  background: #f9f9f9;
}

footer.light .footer-copyright {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
}

/* Footer 4 */
.footer- .logo {
  display: inline-block;
}

/*==================== 
	Widgets 
====================== */
.widget {
  padding: 20px;
  margin-bottom: 40px;
}

.widget.widget-last {
  margin-bottom: 0px;
}

.widget.no-box {
  padding: 0;
  background-color: transparent;
  margin-bottom: 40px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
}

.widget.subscribe p {
  margin-bottom: 18px;
}

.widget li a {
  color: #fff;
}

.widget li a:hover {
  color: #4b92dc;
}

.widget-title {
  margin-bottom: 20px;
}

.widget-title span::after {
  background: inherit;
  content: "";
  height: inherit;
  position: absolute;
  top: -4px;
  width: 50%;
}

.widget-title.text-center span, .widget-title.text-center span::after {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.widget .badge {
  float: right;
  background: #7f7f7f;
}

.typo-light h1,
.typo-light h2,
.typo-light h3,
.typo-light h4,
.typo-light h5,
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small {
  color: #fff;
}

ul.social-footer2 {
  margin: 0;
  padding: 0;
  width: auto;
}

ul.social-footer2 li {
  display: inline-block;
  padding: 0;
}

ul.social-footer2 li a:hover {
  background-color: #ff8d1e;
}

ul.social-footer2 li a {
  display: block;
  height: 30px;
  width: 30px;
  text-align: center;
}

.btn:hover, .btn:focus, .btn.active {
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 250ms ease-in-out 0s;
  -moz-transition: all 250ms ease-in-out 0s;
  -ms-transition: all 250ms ease-in-out 0s;
  -o-transition: all 250ms ease-in-out 0s;
  transition: all 250ms ease-in-out 0s;

}

.thumb-content {
  padding: 6px;
}


.sidebar-categories .head {
  line-height: 60px;
  background: #828bb3;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.sidebar-categories .main-categories {
  padding: 0 20px;
  background: #fff;
  box-shadow: 0 10px 10px rgba(153, 153, 153, 0.1);
}

.sidebar-categories .main-nav-list a {
  font-size: 14px;
  display: block;
  line-height: 50px;
  padding-left: 10px;
  border-bottom: 1px solid #eee;
}

.sidebar-categories .main-nav-list a:hover {
  color: #ffba00;
}

.sidebar-categories .main-nav-list a .number {
  color: #cccccc;
  margin-left: 10px;
}

.sidebar-categories .main-nav-list a .lnr {
  margin-right: 10px;
  display: none;
}

.sidebar-categories .main-nav-list.child a {
  padding-left: 32px;
}

.sidebar-filter {
  margin-top: 50px;
}

.sidebar-filter .top-filter-head {
  line-height: 60px;
  background: #828bb3;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.sidebar-filter .head {
  line-height: 60px;
  padding: 0 30px;
  font-size: 14px;
  font-weight: 700;
  color: #222222;
  text-transform: uppercase;
  margin-top: 5px;
}

.sidebar-filter .common-filter {
  border-bottom: 1px solid #eee;
  padding-bottom: 25px;
}

.sidebar-filter .common-filter .filter-list {
  position: relative;
  padding-left: 28px;
}

.filter-list {
  line-height: 30px;
}

.filter-list i {
  margin-right: 10px;
  cursor: pointer;
}

.filter-list .number {
  color: #ccc;
}

.filter-list label {
  margin-bottom: 3px;
  cursor: pointer;
}

@-webkit-keyframes click-wave {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.35;
    position: absolute;
    top: 50%;
    left: 50%;
  }

  100% {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
    top: 50%;
    left: 50%;
    position: absolute;
  }
}

@-moz-keyframes click-wave {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.35;
    position: absolute;
    top: 50%;
    left: 50%;
  }

  100% {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
    top: 50%;
    left: 50%;
    position: absolute;
  }
}

@keyframes click-wave {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.35;
    position: absolute;
    top: 50%;
    left: 50%;
  }

  100% {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
    top: 50%;
    left: 50%;
    position: absolute;
  }
}

.pixel-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 20px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  background: #fff;
  border: 1px solid #eee;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
  outline: none;
  position: relative;
  z-index: 1;
}

.pixel-radio:checked {
  border: 7px solid #ffba00;
}

.pixel-radio:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #ffba00;
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  opacity: 0;
}

.pixel-radio {
  border-radius: 50%;
  top: 6px;
}

.pixel-radio::after {
  border-radius: 50%;
}

.price-range-area {
  padding: 30px 30px 0 30px;
}

.price-range-area .noUi-target {
  background: #eee;
  border-radius: 0px;
  border: 0px;
  box-shadow: none;
}

.price-range-area .noUi-horizontal {
  height: 6px;
}

.price-range-area .noUi-connect {
  background: #eee;
  border-radius: 0px;
  box-shadow: none;
}

.price-range-area .noUi-horizontal .noUi-handle {
  width: 16px;
  height: 16px;
  left: -8px;
  top: -5px;
  border-radius: 50%;
  border: 0px;
  background: #ffba00;
  box-shadow: none;
  cursor: pointer;
  -webkit-transition: ease 0.1s;
  -moz-transition: ease 0.1s;
  -o-transition: ease 0.1s;
  transition: ease 0.1s;
}

.price-range-area .noUi-horizontal .noUi-handle:focus {
  outline: none;
}

.price-range-area .noUi-horizontal .noUi-handle:hover {
  border: 3px solid #ffba00;
  background: #fff;
}

.price-range-area .noUi-handle::after, .price-range-area .noUi-handle::before {
  display: none;
}

.price-range-area .value-wrapper {
  margin-top: 20px;
  color: #cccccc;
}

.price-range-area .value-wrapper .to {
  margin: 0 5px;
}

.price-range-area .price {
  margin-right: 5px;
  color: #777777;
}


/* dropdown in products */
/* accordion3 link */

/*  */

.accordion {
  margin: auto;
  width: 100%;
  margin-top: 20px;
  border-left: none;
  height: auto;
  border-radius: 1px;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important
}

.accordion .link {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 35px;
  color: #4D4D4D;
  font-size: 13px;
  font-weight: 600;
  border-bottom: 1px solid #CCC;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li:last-child .link {
  border-bottom: 0;
}



.accordion li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: #595959;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 16px;
}

.accordion li.open .link {
  color: #000;
  background: #FFE700;
}

.accordion li.open i {
  color: #000;
}

.accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.accordion li.open i.fa-chevron-down.second {
  /* accordion */
}



.accordion3 {
  margin: auto;
  width: 100%;
  margin-top: 20px;
  border-left: none;
  height: auto;
  border-radius: 1px;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
  margin: 10px;
  width: 146px;
  height: 53px;
  background-color: #FFE700;
  border-radius: 6px;
}

.accordion3 .link {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 35px;
  color: #4D4D4D;
  font-size: 13px;
  font-weight: 600;
  border-bottom: 1px solid #CCC;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion3 li:last-child .link {
  border-bottom: 0;
}



.accordion3 li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: #595959;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion3 li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 16px;
  top: 18px;
}

.accordion3 li.open .link {
  color: #000;
  background: #FFE700;
  border-radius: 6px;
}

.accordion3 li.open i {
  color: #000;
}

.accordion3 li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.accordion3 li.open i.fa-chevron-down.second {
  /* accordion */
}




.accordion4 {
  margin: auto;
  width: 110px;
  margin-top: 20px;
  border-left: none;
  height: auto;
  border-radius: 1px;

}

.accordion4 .link {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 15px;
  color: #4D4D4D;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 1px solid #CCC;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion4 li:last-child .link {
  border-bottom: 0;
}

.accordion4 li i {
  position: absolute;
  top: 16px;
  left: 2px;
  font-size: 18px;
  color: #595959;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion4 li i.fa-chevron-down {
  right: 0px;
  padding: 3px;
  top: 15px;
  left: auto;
  font-size: 16px;

}

.accordion4 li.open .link {
  color: #000;
  background: #fff;
}

.accordion4 li.open i {
  color: #000;
}

.accordion4 li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.accordion4 li.open i.fa-chevron-down.second {
  /* accordion */
}


.submenu4 {
  display: none;
  background: #fff;
  position: absolute;
  z-index: 999;
  font-size: 14px;
  text-align: center;
  offset: 0px 4px;
  box-shadow: 2px 4px 2px 3px rgba(105, 105, 105, 0.25);
}

.submenu4 li {
  border-bottom: 0px solid #000;
}

.submenu4 a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 12px 42px 14px 27px;
  text-align: center;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.submenu4 a:hover {
  background: #FFE700;
  color: #FFF;
}


/**
 * Submenu
 -----------------------------*/


.submenu {
  display: none;
  background: #fff;
  font-size: 14px;
  text-align: center;
}

.submenu li {
  border-bottom: 1px solid #000;
}

.submenu a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 12px 42px 14px 36px;
  padding-left: 42px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.submenu a:hover {
  background: #FFE700;
  color: #FFF;
}

/* input number product */
.ctrl {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: -20%;
  background-color: #fff;
  border-radius: 5px;
  font-size: 30px;
}

.ctrl-counter {
  position: relative;
  width: 200px;
  height: 100px;
  color: #333C48;
  text-align: center;
  overflow: hidden;
}

.ctrl-counter.is-input .ctrl-counter-num {
  visability: hidden;
  opacity: 0;
  -webkit-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
}

.ctrl-counter.is-input .ctrl-counter-input {
  visability: visible;
  opacity: 1;
  -webkit-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
}

.ctrl-counter-input {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 2;
  box-shadow: none;
  outline: none;
  border: none;
  color: #333C48;
  font-size: 30px;
  line-height: 100px;
  text-align: center;
  visability: hidden;
  opacity: 0;
  -webkit-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
}

.ctrl-counter-num {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 100px;
  visability: visible;
  opacity: 1;
  -webkit-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
}

.ctrl-counter-num.is-increment-hide {
  opacity: 0;
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
  -webkit-animation: increment-prev 100ms ease-in;
  animation: increment-prev 100ms ease-in;
}

.ctrl-counter-num.is-increment-visible {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-animation: increment-next 100ms ease-out;
  animation: increment-next 100ms ease-out;
}

.ctrl-counter-num.is-decrement-hide {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-animation: decrement-prev 100ms ease-in;
  animation: decrement-prev 100ms ease-in;
}

.ctrl-counter-num.is-decrement-visible {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-animation: decrement-next 100ms ease-out;
  animation: decrement-next 100ms ease-out;
}

.ctrl-button {
  width: 100px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background-color: #8498a7;
  -webkit-transition: background-color 100ms ease-in;
  transition: background-color 100ms ease-in;
}

.ctrl-button:hover {
  background-color: #90a2b0;
  -webkit-transition: background-color 100ms ease-in;
  transition: background-color 100ms ease-in;
}

.ctrl-button:active {
  background-color: #778996;
  -webkit-transition: background-color 100ms ease-in;
  transition: background-color 100ms ease-in;
}

.ctrl-button-decrement {
  border-radius: 5px 0 0 5px;
}

.ctrl-button-increment {
  border-radius: 0 5px 5px 0;
}

@-webkit-keyframes decrement-prev {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes decrement-prev {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes decrement-next {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
}

@keyframes decrement-next {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
}

@-webkit-keyframes increment-prev {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes increment-prev {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes increment-next {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
}

@keyframes increment-next {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
}

/* end */

/* navbar in header */
.has-children {
  position: relative;
}

.has-children>a {
  position: relative;
  padding-right: 20px;
}

.has-children>a:before {
  position: absolute;
  font-size: 16px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.has-children .dropdown {
  visibility: hidden;
  opacity: 0;
  top: 0%;
  position: absolute;
  text-align: left;
  -webkit-box-shadow: 0 0px 4px 0px rgb(0 0 0 / 25%);
  box-shadow: 0 0px 4px 0px rgb(0 0 0 / 25%);
  padding: 0px 0;
  margin-top: 20px;
  margin-left: 254px;
  background: #fff;
  -webkit-transition: 0.2s 0s;
  -o-transition: 0.2s 0s;
  transition: 0.2s 0s;
  border-radius: 4px;
}

.has-children .dropdown.arrow-top {
  position: absolute;
}

.has-children .dropdown.arrow-top:before {
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.has-children .dropdown.arrow-top:before {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}

.has-children .dropdown a {
  font-size: 14px;
  text-transform: none;
  letter-spacing: normal;
  -webkit-transition: 0s all;
  -o-transition: 0s all;
  transition: 0s all;
  color: #343a40;
}

.has-children .dropdown a.active {
  color: #007bff;
  background-color: red;
}

.has-children .dropdown .active>a {
  color: #fff !important;
  background-color: red;
}

.has-children .dropdown>li {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 200px;
}

.has-children .dropdown>li:first-child>a {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.has-children .dropdown>li:last-child>a {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.has-children .dropdown>li>a {
  padding: 9px 20px;
  display: block;
}

.has-children .dropdown>li>a:hover {
  background-color: #FFE700;
  color: #212529;
}

.has-children .dropdown>li.has-children>a:before {
  content: "\e315";
  right: 20px;
}

.has-children .dropdown>li.has-children>.dropdown, .has-children .dropdown>li.has-children>ul {
  left: 100%;
  top: 0;
}

.has-children .dropdown>li.has-children:hover>a, .has-children .dropdown>li.has-children:active>a, .has-children .dropdown>li.has-children:focus>a {
  background: #ebeef0;
  color: #212529;
}

.has-children:hover>a, .has-children:focus>a, .has-children:active>a {
  color: #fff;
}

.has-children:hover, .has-children:focus, .has-children:active {
  cursor: pointer;
}

.has-children:hover>.dropdown, .has-children:focus>.dropdown, .has-children:active>.dropdown {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
}

/*  */

.best-text {
  background: #d18a86;
  padding: 60px;
  height: auto;
  border-radius: 15px;
}


/* carosuel or slider */
.gallery-carousel-content {
  width: 100%;
  margin: auto;
}

.slider {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /* margin-left: 1%; */
    padding-left: 1%;
    overflow: hidden;
}

/* Slider */
.slick-slider {
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
}

.slick-track:before,
.slick-track:after {
  display: table;

  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  width: 19px;
  height: 100%;
  min-height: 1px;
}



[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  width: 350px;
  height: auto;

  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}


h3 {
  margin: 4px 2px;
}



/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  box-shadow: 0px 0px 25px 8px rgba(3, 127, 139, 0.05);
  border-radius: 4px;
  cursor: pointer;
  color: transparent;
  top: 50%;
  padding: 11px;

  border: none;
  outline: none;
}

.slick-prev:focus,
.slick-next:focus {
  outline: none;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: #000;
  opacity: 0.85;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: 1px;
  position: absolute;
  z-index: 999;
}

.slick-prev:before {
  content: '\2190';
}

.slick-next {
  position: absolute;
  right: 9px;
}

.slick-next:before {
  content: '\2192';
}

/* end carousel or slider */